<!DOCTYPE html>
<html>
<head>
	{% block head %}{% endblock %}
	<title>Smartoscope</title>
</head>
<body>
<div class="col-xs-6 col-xs-offset-3 margin ">
	{% block content %}{% endblock %}
	<hr>
	{% block appOutput %}{% endblock %}
</div>
</body>
</html>
