{% extends "smartoscope.tmpl" %}

{% block content %}

    <h1> Foto gallery </h1>

    <form action="{{ url_for('gallery.upload') }}" method=post enctype=multipart/form-data>
      <p><input type=file name=image>
         <input type=submit value=Upload>
    </form>
    <ul id="container">
        {% for image_list in images %}
         <div class="row">
         <a href={{ url_for('gallery.show_image', filename=image_list[0].filename ) }}>
         {% for image in image_list %}
            <div class="foto_element">
                <li><img class="item" src="{{ url_for('static', filename=['gallery', image.subdir, image.filename ]|join('/')) }}" width="300" height="300"/></li>
            </div>
         {% endfor %}
          </a>
         </div>
        {% endfor %}
    </ul>
{% endblock %}
