{% extends "smartoscope.tmpl" %}

{% block content %}

    <h1 class="center-align"> Welcome to Smartoscope homepage </h1>
    <div style="display: flex; align-items:center; flex-direction: column;" >
     <img class="materialboxed center-align" width="650" src="static/images/logo.gif" style=" margin-top:2em;">
    </div>

{% endblock %}
