{% extends "smartoscope.tmpl" %}

{% block content %}

    <h1> Welcome to Smartoscope homepage </h1>

    <div class="vertical-menu">
      <a href="#" class="active">Home</a>
      <a href="/gallery">Gallery</a>
      <a href="/authors>Authors</a>
      <a href="/contact">Contact</a>
      <a href="/faq">FAQ</a>
    </div>
{% endblock %}
